html,
body, 
#render-target,
#render-target>div {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 50px;
}

.transparent {
	border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.hero {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('/img/main.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

address {
  display: block;
  font-style: italic;
}
