html,
#render-target,
#render-target>div {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

.section-header {
  font-size: 26px; 
}

.section-subheader {
  font-size: 20px;
}

.section-subsubheader {
  font-size: 16px;
}

.hero {
  display: table;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/img/main.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

footer {
  margin-top: 20px;
}

address {
  display: block;
  font-style: italic;
}
