html {
  height: 100%;
}

#render-target,
#render-target>div {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#react-root {
  height: 100%;
}

[data-reactroot] {
  height: 100% !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar-winter {
  background-color: #1375a4;
}

.navbar-winter .navbar-brand {
  color: #fff;
  &:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    background-color: #1375a4;
    border-bottom:#fff 3px solid;
  }
}

.navbar-winter .nav {
  li {
    a {
      color: #fff;
      &:hover {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        color: #fff;
        background-color: #1375a4;
        border-bottom:#fff 3px solid;
      }
    }
  }
  /* http://maths.manchester.ac.uk/siam-ukie/chapters.html */
  .active {
    a {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: #fff;
      background-color: #1375a4;
      &:focus {
        color: #fff;
        background-color: #1375a4;
      }
    }
  }
  .dropdown {
    a {
      color: #fff;
      background-color: #1375a4;
      &:focus,
      &:hover {
        color: #fff;
        background-color: #1375a4;
      }
    }

    ul {
      li {
        a {
          color: #333;
          background-color: #fff;
        }
      }
    }
  }
}

.section-header {
  font-size: 26px;
}

.section-subheader {
  font-size: 20px;
}

.section-subsubheader {
  font-size: 16px;
}

.hero {
  display: table;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/img/main.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.pdf-section {
  margin: 20px;
}
.pdf-view {
  canvas {
    width: 100%;
    height: 100%;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.wrapper {
  flex: 1;
}

.footer {
}

address {
  display: block;
  font-style: italic;
}
